beautifulsoup4==4.12.2
Brotli==1.0.9
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==2.0.4
cryptography==41.0.3
idna==3.4
lxml==4.9.3
Pillow==9.5.0
pip==23.3
pycparser==2.21
pyOpenSSL==23.2.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
PySocks==1.7.1
python-pptx==0.6.22
requests==2.31.0
setuptools==68.0.0
soupsieve==2.5
urllib3==1.26.18
wheel==0.37.1
XlsxWriter==3.1.9
